# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# ========================
#  Virtuelle Umgebungen
# ========================
env/
.venv/
venv/
ENV/

# ========================
#  Datenbanken & Cache
# ========================
*.db
*.sqlite3
*.cache/
cache/

# ========================
#  Testdaten & Benutzerdateien
# ========================
*.csv
*.json
*.xlsx
*.fit
fit_samples/

# ========================
#  Editor-/Projektdateien
# ========================
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.log

# ========================
#  Notebooks
# ========================
.ipynb_checkpoints/
*.ipynb

# ========================
#  macOS & Windows
# ========================
.DS_Store
Thumbs.db

# ========================
#  Exportformate
*.zip
.streamlit/
.DS_Store
